---
layout: default
title: About Me
---

{% include settings.html %}

<div id="home">	
	<img id="mugshot" src="/images/me.png" alt="Sup" />
	
	<h1>Hello there.</h1>
	
	<p>You can find me on <a href="http://twitter.com/{{twitter}}">Twitter</a>, or send me an <a href="mailto:{{email}}">email</a>.</p>
	
	<p>I love learning new things and like programming from time to time. What I enjoy the most is working with people on new ideas. <br />
		I was born in Canada and raised in San Diego, CA. I am the eldest of four kids, and I am currently living in Madrid, Spain with my lovely girlfriend and youngest brother. <br />
			I have a passion for playing fútbol, judo, cooking, board games and traveling. Before moving to Spain, I traveled via hitch-hiking and couchsurfing.<br />
					
	</p>
			
	<div id="postActions">
		{% include share.html %}
		
		<p>Contact me! <a href="{{email}}">{{email}}</a></p>
	</div>
</div>