---
layout: default
---

{% include settings.html %}

<div id="home">
	<a href="/about"><img id="mugshot" src="/images/me.png" alt="Picture of {{name}}" /></a>
	
	<h1>Hi, I'm {{name}}.</h1>
	
	<ul class="jumpLinks clearfix">
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="mailto:{{email}}">Email Me</a></li>
		<li><a href="#why_choose_me">Current Interests</a></li>
		<li><a href="#technical_skills">My Aim</a></li>
	</ul>
	
	<p class="work_categories">
	 	<strong>Madrid</strong> is my home for the foreseeable future.<br />
		<strong>Web behavior</strong> is my newest passion.<br />
		I am a <strong>generalist</strong> at heart.
	</p>
	

	
	<h2 id="why_choose_me">Current Interests and Activities:</h2>
	<p><a href="http://www.eu-startups.com"><strong>EU-Startups.com</strong></a> is a blog that covers mobile and web 2.0 startup companies in Europe. I write part-time covering mostly Spanish-based companies and other start-up related topics. <br /> 
		<strong>Web behavior</strong> is my newest interest. I am learning how users interact with websites by utilizing web metrics and user experience principles in order to help companies optimize their web presence and reach their business goals. <br />
		<strong>Enneagram of Personality</strong></a> is a typology of human personality. It is commonly promoted in both business and spiritual contexts. It is topic of study I have just begun to investigate. 
		
	
	</p>
	
	<div class="why_choose_me clearfix">
		<div class="first">
			<h3>Some things I've done</h3>
			<p>In an effort to get you to know a little bit about myself, here are a list of things that I've done in the past (starting from most recent):
				<ul>
					<li>In August of 2011 I moved to Spain without a job and only an intermediate level of Spanish. </li>
					<li>I was an intern at a small business/environmental consulting firm working on various projects related to cloud technology and education.</li>
					<li>I hitch-hiked, ride-shared and couch-surfed around the U.S.A. for two months by myself.
					<li>Graduated with a degree in SocioCultural Anthropology from UCSD. </li>
					<li>During my attempt to play professional soccer in Europe, I decided to run with the bulls in Pamplona, Spain at the festival of San Fermin.</li>
					<li>I was part of an IT team of two at a publicly traded biotech company for four years.</li>
					<li>While playing soccer at Santa Clara University, which is located in the Silicon Valley, I studied Computer Science for a year and half. I've been a wannabe programmer ever since.</li>
				</ul>
				
				
			</p>
		</div>
		
		<div>
			<h3>Things I've learned to do well</h3>
			<p>A by-product of my university hopping, injury enduring, globe-trotting and geeky lifestyle, I've learned a few things along the way:
				<ul>
					<li>My travels, both domestic and abroad, my IT position within a bio-tech company and my academic focus have given me a diverse set of experiences that give me the tools to <strong>communicate effectively</strong> regardless of the context. </li>
					<li>After two major surgeries and years of rehabilitation I have learned that <strong>patience</strong> isn't just waiting a long time, it is being a part of the process for better or for worse. </li>
					<li><strong>Perseverance and dedication</strong> trump everything. Despite being told I'd never play soccer again by my doctor and several physical therapists, I elected for a rare pubic bone surgery that could potentially help me become active again. After years of rehab and one more surgery, I finally attained what I sought out to do four years before. I played one full season of college soccer before I dropped out of University and quit my job because I had a professional trial in Portugal.</li>
				  <li>I learned to be <strong>comfortable with the uncomfortable</strong>. I took risks, especially when it came to the things I needed to do, regardless of my fear of failure. Moving to Spain, hitch-hiking and couch-surfing, quitting University and my job to try and play professional soccer and electing for a pubic bone surgery that may not have healed have been the toughest but the most important decisions in my life.
					
				</ul>
				
			 </p>
		</div>
	</div>
	
	<h2 id="technical_skills">Aim of this site</h2>
	<p>My purpose for this site is to document my progress and share my thoughts related to my interests and work. </p>
	
	<h2>Let's talk!</h2>
	<p>Email me at: <a href="{{email}}">{{email}}</a>, if you'd just like to chat or talk about how I can help you in any way. Hope to hear from you soon!</p>
		
	<div id="postActions">
		{% include share.html %}
		
		<p><a href="mailto:{{email}}">{{email}}</a></p>
	</div>
</div>